PUBLIC_CHAIN=base-sepolia
PUBLIC_BRICK_CONTRACT=0x0000000000000000000000000000000000000000
PUBLIC_BASE_RPC=https://sepolia.base.org
PUBLIC_PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs/

PINATA_JWT=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
